.custom-styles-1:placeholder {
    @apply text-[#ADBAC7] opacity-100;
  }

  .custom-styles-1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    outline: 1px solid transparent;
    transition-behavior: normal;
    word-wrap: break-word;
  }
